<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Arif/IdeaProjects/qaops-pom">
        <classes>
            <class name="testcases.DirectoryTest.LoginTest">
                <methods>
                    <include name="loginWithInValidCredentials"/>
                    <include name="loginWithPartialCredentials"/>
                    <include name="loginWithValidCredentials"/>

                </methods>
            </class>
            <class name="testcases.DirectoryTest">
                <methods>
                    <include name="verifyDirectoryPage"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>
